# css build artifact
/static/scss/.sass-cache

# debug logging
/debug

# The XML files in "p5" are (currently) just derivatives of TEI files stored in the acsproj repository
/p5

# Backup files automatically created by JEdit text editor
/**/*.*~


xslt/tmp.xsl
