ul {
	padding: 0;
	margin: 0;
}
body {
	font-family: "Newton Sans";
	background-color: #F7F6F2;
	margin: 0;
}
* {
	box-sizing: border-box;
}
a:hover {
	text-decoration: underline !important;
}

/* These are the components which are horizontally centered in the page */
header.page-header section a,
nav#main-nav ul.primary,
section.content,
footer.page-footer div.link-to-top,
footer.page-footer div.menus,
footer.page-footer div.links
{
	margin-left: auto;
	margin-right: auto;
	width: 70rem;
}
section.content {
	background-color: white;
	padding: 0.5em;
	display: flex;
	align-items: flex-start;
	/* column-gap: 1rem; not used because of poor browser support */
	margin-bottom: 0.5rem;
}
header.page-header section.iub {
	background-color: rgb(248, 248, 248);
	border-bottom-color: rgb(192, 192, 192);
	border-bottom-style: solid;
	border-bottom-width: 1px;
}
/* The IUB banner has right-aligned content */
header.page-header section.iub a {
	display: flex;
	justify-content: flex-end;
}
img#iu-logo {
	display: block;
	margin-right: 5em;
}
header.page-header section.chymistry {	
	background-color: #DFD9BD;
	padding-top: 0.1em;
	padding-bottom: 0.1em;
	padding-left: 0;
	padding-right: 0;
}
/* The Chymistry banner has left-aligned content */
header.page-header section.chymistry a {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
}
img#newton-masthead-image {
	margin-top: 1em;
}
@font-face {
  font-family: "Newton Sans";
  src: url("/font/NewtonSans-2015-11-04.ttf");
}

nav#main-nav {
	background-color: rgb(66, 60, 48);
	font-size: small;
	position: relative;
	top: 0;
}
nav#main-nav ul {
	margin-top: 0;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
}
nav#main-nav li {
	display: inline-block;
	vertical-align: top;
	margin: 0;
}
nav#main-nav details li {
	display: inherit;
}
nav#main-nav a:hover,
nav#main-nav summary:hover {
	background-color: rgb(45, 41, 33);
}
nav#main-nav ul.primary a {
	display: inline-block;
}
nav#main-nav ul.primary a,
nav#main-nav ul.primary summary {
	height: 2em;
	color: rgb(247, 246, 240);
	padding: 0.5em;
	vertical-align: baseline;
	cursor: pointer;
	text-decoration: none;
	border-right-color: rgb(247, 246, 240);
	border-right-style: solid;
	border-right-width: 1px;
}
nav#main-nav ul.secondary a {
	border: none;
}
nav#main-nav details {
	position: relative;
	z-index: 10;
}
nav#main-nav details[open] ul {
	position: absolute;
	z-index: 10;
	top: 2em;
	left: 0;
	background-color: rgb(45, 41, 33);
	padding-left: 0;
	width: max-content;
}
/* sub-menu on a page (copy of the drop down menu),
or sidebar on some other pages */
nav.internal,
aside {
	background-color: #F7F8F2;
	margin-right: 2rem;
	margin-top: 1rem;
	min-width: 10rem;
	border: thin solid #DFD9BD;
	border-top-right-radius: 0.4em;
	border-top-left-radius: 0.4em;
}
nav.internal header,
aside header {
	border-top-right-radius: 0.4em;
	border-top-left-radius: 0.4em;
	border: thin solid #DFD9BD;
	background-color: #DFD9BD;
	color: #423C30;
	font-weight: bold;
	padding: 0.5em;
}
nav.internal div header {
	border: inherit;
	padding: inherit;
	margin-top: 1em;
	margin-left: 0.5em;
	color: inherit;
	background-color: inherit;
}

aside p {
	font-size: small;
	margin: 0.5em;
}
nav.internal ul {
	list-style-type: none;
	margin: 1em;
	font-size: small;
}
nav.internal li {
	margin-top: 0.5em;
}
nav.internal a {
	color: rgb(120, 19, 11);
	text-decoration: none;
}
nav.internal a.current {
	font-weight: bold;
	color: black;
}

/* The menu at the top of a page, or for a search result, for selecting a view of the text */
div.tei-view-selection {
	display: flex;
	font-size: small;
	margin-top: 1em;
	justify-content: center; 
}
div.tei-view-selection a,
div.tei-view-selection span {
	padding: 0.2em;
	box-shadow: 0 0.4em 0.5em -0.5em #000;
	margin-left: 0.5em;
	margin-right: 0.5em;
	padding-left: 0.5em;
	padding-right: 0.5em;
}
div.tei-view-selection a {
	text-decoration: none;
	color: black;
}
div.tei-view-selection a:hover {
	background-color: #C9C9C9;
}
div.tei-view-selection span {
	font-weight: bold;
}
footer.page-footer {
	background-color: rgb(188, 171, 129);
}
footer.page-footer div.link-to-top {
	padding-top: 0.25rem;
	display: flex;
	justify-content: flex-end;
}
footer.page-footer div.menus-and-links {
	background-color: #333;
}
footer.page-footer div.menus {
	background-color: #4F4E4E;
	display: flex;
	font-size: small;
	justify-content: space-between;
}
footer.page-footer div.menus div.menu {
	padding: 1em;
}
footer.page-footer div.menus div.menu header {
	color: #C0C0C0;
	margin-bottom: 0.5em;
}
footer.page-footer div.menus div.menu ul {
	list-style-type: none;
	margin-left: 1em;
}
footer.page-footer div.menus div.menu a {
	text-decoration: none;
	color: #ffc;
}
footer.page-footer div.menus div.menu a.current {
	color: rgb(247, 246, 240);
}
footer.page-footer div.menus div.menu a.current::before {
	content: "» ";
}
footer.page-footer div.menus div.menu li {
	margin-bottom: 0.5em;
}
footer.page-footer div.links {
	background-color: #4F4E4E;
	color: #fff;
	font-size: smaller;
	padding: 1em;
}
footer.page-footer div.links a {
	color: #fff;
	text-decoration: none;
}
ul.site-index-menu {
	padding-left: 2em;
}
ul.site-index-menu p {
	margin: 0;
}
ul.site-index-menu li {
	margin-top: 0.25em;
}
ul.site-index-menu a {
	text-decoration: none;
	color: #78130B;
}