// Custom.scss

// My overrides *before* @import

//$body-bg: #f9f9f2;
$font-family-base:  Georgia,"Times New Roman",Times,serif;
/* theme colors */
$primary: #75070c;
//$secondary: $gray-600 !default; 
//$success: #ffdca0;
//$info: $cyan !default;
//$warning: $yellow !default;
//$danger: $red !default;
$light: #fff3df;
$dark: #211500;
$code-color: blue;


// Option A: Include all of Bootstrap

@import "../../../bootstrap/node_modules/bootstrap/scss/bootstrap";

// My utilities
.text-sansserif {
	font-family: $font-family-sans-serif
}

.fs-90 {
	font-size: 90%;
}

.fs-80 {
	font-size: 80%;
}

.fs-70 {
	font-size: 70%;
}

