// Custom.scss

$primary: #75070c;
/*
$success
$info
$warning
$danger
*/
$light: #fff3df;
$dark: #211500;

//typography

$font-family-base: Georgia,"Times New Roman",Times,serif;
//$font-size-base:1.1rem;


//include all of Bootstrap

@import "../../../bootstrap5/node_modules/bootstrap/scss/bootstrap";

// My utilities

.fs-90 {
	font-size: 90%;
}

.fs-80 {
	font-size: 80%;
}

.fs-70 {
	font-size: 70%;
}

.text-sansserif {
    font-family: $font-family-sans-serif;
}

.hit-link.badge {
	display:inline;
}
